---
import SiteLayout from "../layouts/SiteLayout.astro";
import { Image } from "astro:assets";
import headshot from "../images/noah-selis-headshot.webp";
---

<script>
    const startDate = new Date("August 28, 2021");
    const currentMillisecEl = document.getElementById("currentMillisec");

    setInterval(() => {
        const currentMillisec = new Date().getTime();
        const elapsedMillisec = currentMillisec - startDate.getTime();
        currentMillisecEl.textContent = elapsedMillisec;
    }, 500);
</script>

<SiteLayout
    title="Noah Selis | About"
    logoPadding="3.125rem 0.625rem 0 0.625rem"
>
    <section class="content-wrapper">
        <div class="img-container">
            <Image src={headshot} alt="Noah Selis" />
        </div>
        <div class="copy-container">
            <h1>Who is this guy?</h1>
            <p>
                <strong>I'm married to</strong> the photographer of every mid-2000s
                empty foggy allyway turned art-director and I have three dogs named
                Charlie, Howdy and Fig who laugh at each and every one of my jokes.
            </p>
            <p>
                <strong>I've been building</strong> websites for a little over three
                years or
                <em>exactly</em>
                <span id="currentMillisec"></span> milliseconds!
            </p>
            <p>
                <strong>I have a few hobbies.</strong> I fancy myself a good cook,
                I can make a pizza out of almost anything. I smoke a mean pork butt
                too! I have a cool ass offset smoker that was handmade in south Texas
                by my Papa Dan that I inherited from my dad.
            </p>
        </div>
    </section>
</SiteLayout>

<style>
    body {
        background-color: var(--red);
        color: var(--white);
        section {
            h1 {
                font-size: 4rem;
            }
            display: flex;
            gap: 1.125rem;
            justify-items: space-between;
            .img-container {
                width: 50%;
                img {
                    height: 100%;
                }
                @media (width > 1500px) {
                    width: 40%;
                }
            }
            .copy-container {
                display: grid;
                align-content: center;
                width: 50%;
                p {
                    max-width: 60ch;
                    color: var(--white);
                }
                span {
                    color: var(--white);
                }

            }
            @media (width < 1000px) {
                .img-container {
                    display: none;
                }
                .copy-container {
                    width: 100%;
                }
            }
        }
        header {
            nav.main-nav {
                li.about {
                    display: none;
                }
            }
        }
    }
</style>
