---
import SiteLayout from "../layouts/SiteLayout.astro";
import ContactButton from "../components/ContactButton.astro";
import githubIcon from "../images/svgs/github-icon.svg";
import linkedinIcon from "../images/svgs/linkedin-icon.svg";
import twitterIcon from "../images/svgs/twitter-icon.svg";
import pencilIcon from "../images/svgs/pencil-icon.svg";
import bookIcon from "../images/svgs/book-icon.svg";
import downloadIcon from "../images/svgs/download-icon.svg";

const info = [
    {
        title: "github",
        icon: githubIcon,
        alt: "github icon",
        link: "https://github.com/noahselis",
        target: "_blank",
    },
    {
        title: "linkedin",
        icon: linkedinIcon,
        alt: "linkedin icon",
        link: "https://www.linkedin.com/in/noah-selis/",
        target: "_blank",
    },
    {
        title: "twitter",
        icon: twitterIcon,
        alt: "twitter icon",
        link: "https://twitter.com/sortaonlineguy",
        target: "_blank",
    },
    {
        title: "email",
        icon: pencilIcon,
        alt: "email icon",
        link: "mailto:noahselis7@gmailcom",
        target: "self",
    },
    {
        title: "books",
        icon: bookIcon,
        alt: "book icon",
        link: "#",
        target: "self",
    },
    {
        title: "download",
        icon: downloadIcon,
        alt: "download icon",
        link: "#",
        target: "self",
    },
];
---

<SiteLayout
    title="Noah Selis | Contact"
    logoPadding="3.125rem 0.625rem 0 0.625rem"
>
    <nav>
        <ul>
            <li>
                <a href="/about">
                    <p>Who?</p>
                </a>
            </li>
            <li>
                <a href="/work">
                    <p>Work</p>
                </a>
            </li>
            <li>
                <a href="/blog">
                    <p>Blog</p>
                </a>
            </li>
        </ul>
    </nav>
    <div>
        <h1>Drop Me a Dime and Let's Connect!</h1>
        <div class="contact-buttons">
            {
                info.map((item) => (
                    <ContactButton
                        title={item.title}
                        icon={item.icon}
                        alt={item.alt}
                        link={item.link}
                    />
                ))
            }
        </div>
    </div>
</SiteLayout>

<style>
    body {
        background-color: var(--yellow);
        .contact-buttons {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
            gap: 3rem;
        }
        header {
            nav.main-nav {
                li:has(a[href="/about"]) {
                    display: none;
                }
                li:has(a[href="/work"]) {
                    display: none;
                }
                li:has(a[href="/blog"]) {
                    display: none;
                }
                li:has(a[href="/contact"]) {
                    display: none;
                }
            }
        }
    }
</style>
