---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="Noah Selis | Home Page" logoPadding="3.125rem 0 0 3.125rem">
    <section class="content-wrapper">
        <h1>Hi!</h1>
        <p>My name is Noah Selis.</p>
        <p>
            I’m a developer from Boise, ID<br /> and I build websites for cool people.
        </p>
    </section>
</SiteLayout>
<style>
    body {
        background-color: var(--white);
        .content-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            p {
                margin-bottom: 1.5rem;
            }
        }
    }
</style>
