---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="Noah Selis | Home Page" logoPadding="3.125rem 0 0 3.125rem">
    <div class="content-wrapper">
        <h1>Hi!</h1>
        <p>My name is Noah Selis.</p>
        <p>
            I’m a developer from Boise, ID and I build websites for cool people.
        </p>
    </div>
</SiteLayout>
<style>
    body {
        background-color: var(--white);
        .content-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 3.125rem;
            p {
                max-width: 28ch;
                margin-bottom: 1.5rem;
            }
            outline: 1px solid red;
        }
    }
</style>
