---
const { style, text, primaryIcon } = Astro.props;
---

<button class={style}>
    {text}
    {
        primaryIcon && (
            <span>
                <img
                    class="primaryIcon"
                    src={primaryIcon.src}
                    width="10px"
                    height="10px"
                />
            </span>
        )
    }
</button>
<style>
    /* remove default button styles */
    button {
        display: flex;
        align-items: center;
        margin: 0 auto;
        color: var(--black);
        cursor: pointer;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 0.1rem;
        outline: none;
        padding: 0.8rem 1.44rem 0.6rem 1.44rem;
        position: relative;
        text-align: center;
        text-decoration: none;
        touch-action: manipulation;
        transition:
            box-shadow 0.2s,
            -ms-transform 0.1s,
            -webkit-transform 0.1s,
            transform 0.1s;
        user-select: none;
        -webkit-user-select: none;
        width: auto;
    }

    button.white {
        background-color: var(--white);
        border: 1px solid var(--black);
        border-radius: 0.5rem;

        &:hover {
            background-color: var(--blue);
            border-color: var(--white);
            color: var(--white);
        }

        &:focus-visible {
            box-shadow:
                var(--white) 0 0 0 2px,
                rgba(255, 255, 255, 0.8) 0 0 0 4px;
            transition: box-shadow 0.2s;
        }

        &:active {
            background-color: var(--white);
            border-color: var(--black);
            transform: scale(0.96);
        }

        &:disabled {
            border-color: var(--grey);
            color: var(--white);
            cursor: not-allowed;
            opacity: 1;
        }
        span {
            display: inline-block;
            img {
                width: 1.1rem;
                height: 1.1rem;
                margin-left: 0.3rem;
                margin-bottom: 0.5rem;
            }
        }
        &:hover {
            .primaryIcon {
                filter: invert(100%);
            }
        }
    }
</style>
