---
const { logoPadding } = Astro.props;
---

<button id="site-logo">
    <a href="/">
        <svg
            width="50px"
            height="50px"
            viewBox="0 0 50 50"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M50 25C50 38.8071 38.8071 50 25 50C11.1929 50 0 38.8071 0 25C0 11.1929 11.1929 0 25 0C38.8071 0 50 11.1929 50 25Z"
                fill="#030E12"></path>
            <path
                d="M30.04 23.262C30.04 23.1287 30.1067 23.062 30.24 23.062H31.24C31.3733 23.062 31.44 23.1287 31.44 23.262V36.862C31.44 36.9953 31.3733 37.062 31.24 37.062H30.06C29.9533 37.062 29.88 37.0087 29.84 36.902L25.94 26.562C25.9267 26.522 25.9067 26.5087 25.88 26.522C25.8533 26.522 25.84 26.542 25.84 26.582L25.86 36.862C25.86 36.9953 25.7933 37.062 25.66 37.062H24.64C24.5067 37.062 24.44 36.9953 24.44 36.862V23.262C24.44 23.1287 24.5067 23.062 24.64 23.062H25.8C25.9067 23.062 25.98 23.1153 26.02 23.222L29.94 33.582C29.9533 33.622 29.9733 33.642 30 33.642C30.0267 33.6287 30.04 33.602 30.04 33.562V23.262Z"
                fill="white"></path>
            <path
                d="M37.0233 37.222C36.0366 37.222 35.2366 36.8953 34.6233 36.242C34.0099 35.5887 33.7033 34.7353 33.7033 33.682V33.222C33.7033 33.0887 33.7699 33.022 33.9033 33.022H34.8833C35.0166 33.022 35.0833 33.0887 35.0833 33.222V33.622C35.0833 34.3287 35.2633 34.902 35.6233 35.342C35.9833 35.7687 36.4499 35.982 37.0233 35.982C37.5833 35.982 38.0499 35.7753 38.4233 35.362C38.7966 34.9487 38.9833 34.402 38.9833 33.722C38.9833 33.2687 38.8899 32.882 38.7033 32.562C38.5299 32.2287 38.2966 31.942 38.0033 31.702C37.7233 31.4487 37.2499 31.0687 36.5833 30.562C35.9166 30.0687 35.3899 29.6487 35.0033 29.302C34.6166 28.942 34.2966 28.5153 34.0433 28.022C33.8033 27.5287 33.6833 26.9487 33.6833 26.282C33.6833 25.242 33.9833 24.422 34.5833 23.822C35.1833 23.2087 35.9633 22.902 36.9233 22.902C37.9366 22.902 38.7433 23.2353 39.3433 23.902C39.9566 24.5553 40.2633 25.4287 40.2633 26.522V27.022C40.2633 27.1553 40.1966 27.222 40.0633 27.222H39.0633C38.9299 27.222 38.8633 27.1553 38.8633 27.022V26.502C38.8633 25.7953 38.6833 25.2287 38.3233 24.802C37.9766 24.362 37.5099 24.142 36.9233 24.142C36.3899 24.142 35.9499 24.3353 35.6033 24.722C35.2566 25.0953 35.0833 25.6287 35.0833 26.322C35.0833 26.7353 35.1566 27.102 35.3033 27.422C35.4633 27.7287 35.6966 28.022 36.0033 28.302C36.3099 28.582 36.7633 28.9487 37.3633 29.402C38.1633 29.9887 38.7566 30.4687 39.1433 30.842C39.5433 31.202 39.8499 31.602 40.0633 32.042C40.2766 32.4687 40.3833 32.9887 40.3833 33.602C40.3833 34.6953 40.0699 35.5753 39.4433 36.242C38.8166 36.8953 38.0099 37.222 37.0233 37.222Z"
                fill="white"></path>
            <path
                d="M27.5761 1.75766C16.4695 1.81216 7.08837 10.7265 6.27533 22.3535C5.4243 34.5238 14.283 45.0574 26.0618 45.881C31.5766 46.2667 36.7538 44.4554 40.788 41.1707C36.2624 46.0865 29.7346 48.9648 22.6887 48.4721C10.1581 47.5958 0.733939 36.3898 1.63929 23.4428C2.54464 10.4957 13.4366 0.710322 25.9673 1.58655C26.5096 1.62447 27.046 1.68174 27.5761 1.75766Z"
                fill="white"></path>
        </svg>
    </a>
</button>

<style define:vars={{ logoPadding }}>
    #site-logo {
        height: 100vh;
        display: flex;
        justify-content: center;
        width: 100px;
        background-color: var(--white);
        padding: var(--logoPadding);
        svg {
            min-width: 50px;
            min-height: 50px;
        }
    }
</style>
