<script>
    const url = window.location.pathname;

    const aboutPage = document.querySelector(
        ".main-nav a[href='/about']"
    ).parentElement;
    const workPage = document.querySelector(
        ".main-nav a[href='/work']"
    ).parentElement;
    const blogPage = document.querySelector(
        ".main-nav a[href='/blog']"
    ).parentElement;
    const contactPage = document.querySelector(
        ".main-nav a[href='/contact']"
    ).parentElement;

    function setActivePage() {
        switch (url) {
            case "/about":
                aboutPage.style.display = "none";
                break;
            case "/work":
                workPage.style.display = "none";
                aboutPage.style.display = "none";
                break;
            case "/blog":
                aboutPage.style.display = "none";
                blogPage.style.display = "none";
                workPage.style.display = "none";
                break;
            case "/contact":
                contactPage.style.display = "none";
                aboutPage.style.display = "none";
                blogPage.style.display = "none";
                workPage.style.display = "none";
                break;
            default:
                break;
        }
    }
    setActivePage();
</script>

<nav class="main-nav">
    <ul>
        <li>
            <a href="/about">
                <p>Who?</p>
            </a>
        </li>
        <li>
            <a href="/work">
                <p>Work</p>
            </a>
        </li>
        <li>
            <a href="/blog">
                <p>Blog</p>
            </a>
        </li>
        <li>
            <a href="/contact">
                <p>Reach Out</p>
            </a>
        </li>
    </ul>
</nav>
