<nav class="main-nav">
    <ul>
        <li>
            <a href="/about">
                <p>Who?</p>
            </a>
        </li>
        <li>
            <a href="/work">
                <p>Work</p>
            </a>
        </li>
        <li>
            <a href="/blog">
                <p>Blog</p>
            </a>
        </li>
        <li>
            <a href="/contact">
                <p>Reach Out</p>
            </a>
        </li>
    </ul>
</nav>
