<nav class="main-nav">
    <ul>
        <li class="about">
            <a href="/about">
                <p>Who?</p>
            </a>
        </li>
        <li class="work">
            <a href="/work">
                <p>Work</p>
            </a>
        </li>
        <!-- <li class="blog"> -->
        <!--     <a href="/blog"> -->
        <!--         <p>Blog</p> -->
        <!--     </a> -->
        <!-- </li> -->
        <li class="contact">
            <a href="/contact">
                <p>Reach Out</p>
            </a>
        </li>
    </ul>
</nav>
<nav class="mobile-nav">
    <ul>
        <li class="about">
            <a href="/about">
                <p>Who?</p>
            </a>
        </li>
        <li class="work">
            <a href="/work">
                <p>Work</p>
            </a>
        </li>
        <!-- <li class="blog"> -->
        <!--     <a href="/blog"> -->
        <!--         <p>Blog</p> -->
        <!--     </a> -->
        <!-- </li> -->
        <li class="contact">
            <a href="/contact">
                <p>Reach Out</p>
            </a>
        </li>
    </ul>
</nav>
