---
const { src, alt, link } = Astro.props;
import { Image } from "astro:assets";
---

<a href={link} target="_blank" rel="noopener noreferrer">
    <div class="work-card">
        <Image src={src} alt={alt} width="250" height="225" />
    </div>
</a>

<style>
    .work-card {
        img {
            width: 100%;
            height: auto;
        }
    }
</style>
