---
import SiteLayout from "../../layouts/SiteLayout.astro";
---

<SiteLayout>
    <nav class="secondary-nav">
        <ul>
            <li class="about">
                <a href="/about">
                    <p>Who?</p>
                </a>
            </li>
        </ul>
    </nav>
</SiteLayout>

<style>
    body {
        background-color: var(--blue);
        color: var(--white);
        header {
            nav.main-nav {
                li.about {
                    display: none;
                }
                li.work {
                    background-color: var(--dark-blue);
                    p {
                        color: var(--white);
                    }
                }
            }
        }
    }
</style>
