---
import Logo from "../components/Logo.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
import "../styles/css_reset.css";

const { title, logoPadding } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
    </head>
    <body>
        <main>
            <Logo logoPadding={logoPadding} />
            <slot />
        </main>
        <Header />
    </body>
</html>

<style>
    body {
        display: grid;
        grid-template-columns: 1fr auto;
        justify-content: center;
        header {
            grid-row: 1;
        }
        main {
            grid-row: 1;
            display: flex;
            padding-right: 3.125rem;
        }
    }
</style>
