---
import Logo from "../components/Logo.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
import "../styles/css_reset.css";

const { title, logoPadding } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        <link rel="icon" type="image" href="/favicon.png" />
        <meta name="generator" content={Astro.generator} />
    </head>
    <body>
        <main>
            <Logo logoPadding={logoPadding} />
            <slot />
        </main>
        <Header />
    </body>
</html>

<style>
    body {
        display: grid;
        grid-template-columns: 1fr auto;
        justify-content: center;
        header {
            grid-row: 1;
        }
        main {
            grid-row: 1;
            display: flex;
            padding-right: 3.125rem;

            section.content-wrapper {
                margin: 0 3.125rem;
                padding-top: 3.125rem;
                /* Hide scrollbar for Chrome, Safari and Opera */
                &::-webkit-scrollbar {
                    display: none;
                }

                /* Hide scrollbar for IE, Edge and Firefox */
                & {
                    -ms-overflow-style: none; /* IE and Edge */
                    scrollbar-width: none; /* Firefox */
                }
            }
        }
    }
</style>
